$spacing: 3rem;
$radius: 0.25rem;

$dateWidth: 7.5rem;
$dotborder: 0.25rem;
$dotSize: 0.7rem;

.timeline{
  border-left: $dotborder solid $primary-color;
  margin: $spacing auto;
  letter-spacing: 0.5px;
  padding: $spacing;
  padding-right: $spacing * 0.25;
  list-style: none;
  max-width: 85%;
  
  @media (min-width: 992px){
    max-width: 70%;
    padding-right: $spacing;
  }

  .event {
    border-bottom: 1px dashed rgba($primary-color, 0.3);
    padding-bottom: ($spacing * 0.5);
    margin-bottom: $spacing;
    position: relative;

    &:last-of-type { 
      padding-bottom: 0;
      margin-bottom: 0;
      border: none;
    }

    &:before, &:after {
      position: absolute;
      display: block;
      top: 0;
    }
    h5{
      padding-top: 2rem;
      font-weight: 500;
      @media (min-width: 992px){
        padding-top: 0;
      }
    }

    &:before {
      content: attr(data-date);
      white-space: pre-wrap;
      font-size: 0.9em;
      min-width: $dateWidth;
      @media (min-width: 992px){
        text-align: right;
        left: ((($dateWidth * 0.6) + $spacing + $dotborder + $dotSize + ($dotborder * 2)) * 1.5) * -1;
      }
    }

    &:after {
      box-shadow: 0 0 0 $dotborder $primary-color;
      left: ($spacing + $dotborder + ($dotSize * 0.35)) * -1;        
      background: $white;  
      border-radius: 50%;  
      height: $dotSize;
      width: $dotSize;
      content: "";
      top: 5px;
    }
  }
}
