// REM sizes for media requests

html{
  font-size: 12px;
  line-height: 16px;
}

@media (min-width: 768px){
  html {
      font-size: 13px;
      line-height: 20px;
  }
}

@media (min-width: 1024px){
  html {
      font-size: 14px;
      line-height: 24px;
  }
}

@media (min-width: 1440px){
  html {
      font-size: 16px;
      line-height: 28px;
  }
}


// Headers

h1, h2, h3, h4, h5, h6 {
  letter-spacing: -.05em;
  color: $text-main;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', sans-serif;
}

@mixin headerSize($size, $height, $margin-bottom, $weight){
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  margin: 0 0 $margin-bottom 0;
}

h1{
  @include headerSize(2.2rem, 2.5rem, 2rem, 400);  
}
h2{
  @include headerSize(1.9rem, 2.2rem, 2.2rem, 400);
}
h3{
  @include headerSize(1.7rem, 1.9rem, 1.9rem, 400);
}
h4{
  @include headerSize(1.4rem, 1.7rem, 1rem, 700);
}
h5{
  @include headerSize(1rem, 1.4rem, 1rem, 700);
}
h6{
  @include headerSize(1rem, 1.4rem, 1rem, 400);  
}

// Links 

a{
  color: $primary-color;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}

// Text colors
@each $color-name, $color in $theme-colors {
  .text-#{$color-name}{
    color: $color;
  }
}
// Background colors
@each $color-name, $color in $theme-colors {
  .bg-#{$color-name}{
    background-color: $color;
  }
}

// Gray colors
@each $color-name, $color in $grays {
  .text-gray-#{$color-name}{
    color: $color;
  }
}

.text-light { color: $text-light; }

// Text Alignment
.text-center { text-align: center; }
.text-right  { text-align: right; }
.text-left   { text-align: left; }

// Text transformations
.text-uppercase { text-transform: uppercase; }
.text-lowercase { text-transform: lowercase; }