.page-books-search{

  .book-container{
    background-color: $gray-100;
    transition: transform 0.3s;
    
    .book-cover{
      max-height: 250px;
      flex: 1;

      img{
        object-fit: cover;
        object-position: top;
      }        
    }

    .book-info{
      flex: 4;

      h4{
        font-weight: 500;
        font-size: 1.3em;
        margin: 0;
      }
      .bookmark{
        padding: 1rem;
        font-size: 1.2em;
        height: auto;
        width: auto;  
      }
    }
    &:hover{
      text-decoration: none;
      transform: translateX(0.5rem);
    }
  }

  .filters{
    h5{
      font-weight: 500;
    }
  }
}