// Media of at least the minimum breakpoint width. No query for the smallest breakpoint.
// Makes the @content apply to the given breakpoint and wider.
@mixin media-breakpoint-up($name, $breakpoints: $grid-breakpoints) {
  $min: breakpoint-min($name, $breakpoints);
  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}
// Lists

// Unstyled keeps list items block level, just removes default browser padding and list-style
@mixin list-unstyled() {
  padding: 0;
  list-style: none;
}

@mixin translate-on-hover($direction: up){
  transform: translate3d(0,0,0);
  transition: transform 0.3s;
  &:hover{
    text-decoration: none;
    @if $direction == up{
      transform: translate3d(0,-6px,0);
    }
    @if $direction == right{
      transform: translateX(0.5rem);
    } 
    cursor: pointer;
  }
}

@mixin change-colors-on-hover($color: $primary-color){
  transition: color 0.3s, background-color 0.3s;
  &:hover{
    background-color: $color;
    color: white;
    cursor: pointer;
  }
}