@import "~normalize.css/normalize";

@import "functions";
@import "variables";
@import "mixins";

@import "components/buttons";
@import "components/footer";
@import "components/form";
@import "components/hero";
@import "components/navbar";
@import "components/pagination";
@import "components/tables";
@import "components/timeline";

@import "utilities/flex";
@import "utilities/sizes";
@import "utilities/container";
@import "utilities/spacing";
@import "utilities/typography";

@import "pages/books-search";
@import "pages/landing";
@import "pages/order-new";
@import "pages/readers";

*, *:before, *:after {
  box-sizing: border-box;
}

body{
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: $text-main;
}

hr{
  border-top: 1px solid $gray-400;
  border-bottom: none;
  margin: 2rem 0;
}

.list-ustyled{
  padding: 0;
  list-style: none;
}